src/main/java/net/deludobellico/stabeditor/data/schemas/EstabDataRef.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
        attributeFormDefault="unqualified"
        elementFormDefault="qualified"
        xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- ESTAB data -->

    <xs:element name="estab-data">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="image" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="side" maxOccurs="unbounded" minOccurs="2"/>
                <xs:element ref="vehicle" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="weapon" maxOccurs="unbounded" minOccurs="1"/>
                <xs:element ref="radio" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="ammo" maxOccurs="unbounded" minOccurs="1"/>
                <xs:element ref="formation-effects" maxOccurs="unbounded" minOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="version" type="xs:byte"/>
        </xs:complexType>
    </xs:element>

    <!-- Images -->

    <xs:element name="image">
        <xs:complexType>
            <xs:attribute name="id" type="xs:short" use="required"/>
            <xs:attribute name="file-id" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <!-- Sides -->

    <xs:element name="side">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="description" type="xs:string"/>
                <xs:element name="large-insignia" type="insignia"/>
                <xs:element name="small-insignia" type="insignia"/>
                <xs:element name="basics-consumption-rate" type="xs:float"/>
                <xs:element name="default-enemy-aper-fp" type="xs:byte"/>
                <xs:element name="default-enemy-aarm-fp" type="xs:byte"/>
                <xs:element ref="nation" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:byte" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="nation">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="description" type="xs:string"/>
                <xs:element name="nationality" type="xs:string"/>
                <xs:element name="large-insignia" type="insignia"/>
                <xs:element name="small-insignia" type="insignia"/>
                <xs:element ref="service" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:short" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="service">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="description" type="xs:string"/>
                <xs:element name="large-insignia" type="insignia"/>
                <xs:element name="small-insignia" type="insignia"/>
                <xs:element ref="rank-list"/>
                <xs:element ref="default-icon-colors"/>
                <xs:element ref="force" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:short" name="id" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="default-icon-colors">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="background-color" type="rgbColor"/>
                <xs:element name="background-dark-color" type="rgbColor"/>
                <xs:element name="background-light-color" type="rgbColor"/>
                <xs:element name="designation-color" type="rgbColor"/>
                <xs:element name="symbol-color" type="symbolColor"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="rank-list">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="rank" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="rank">
        <xs:complexType>
            <xs:attribute name="short-name" type="xs:string"/>
            <xs:attribute name="full-name" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="force">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="description" type="xs:string"/>
                <xs:element ref="icon"/>
                <xs:element name="type" type="forceType"/>
                <xs:element name="sub-type" type="forceSubtype"/>
                <xs:element name="size" type="forceSize"/>
                <xs:element name="combat-class" type="combatClass"/>
                <xs:element name="target-class" type="targetClass"/>
                <xs:element name="infantry-value" type="xs:short"/>
                <xs:element name="recon-value" type="xs:short"/>
                <xs:element name="engineering-value" type="xs:byte"/>
                <xs:element name="move-type" type="moveType"/>
                <xs:element name="pers-qty" type="xs:short"/>
                <xs:element name="staff-capacity" type="xs:byte"/>
                <xs:element name="basics-qty" type="xs:float"/>
                <xs:element name="basics-consumption-rate-modifier" type="xs:float"/>
                <xs:element name="commander-rank" type="xs:byte"/>
                <xs:element name="fuel-qty" type="xs:float"/>
                <xs:element name="fuel-load" type="xs:float"/>
                <xs:element name="speed" type="speedData"/>
                <xs:element ref="deployment-duration"/>
                <xs:element name="ready-to-fire-duration" type="xs:string"/>
                <xs:element name="ready-to-bombard-duration" type="xs:string"/>
                <xs:element ref="equipment-list"/>
                <xs:element ref="ammo-list"/>
                <xs:element name="can-bombard" type="yesNo"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:short" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="icon">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="background-color" type="rgbColor"/>
                <xs:element name="background-dark-color" type="rgbColor"/>
                <xs:element name="background-light-color" type="rgbColor"/>
                <xs:element name="designation-color" type="rgbColor"/>
                <xs:element name="symbol-color" type="symbolColor"/>
                <xs:element name="military-symbol" type="xs:byte"/>
                <xs:element name="picture-symbol" type="pictureSymbol"/>
                <xs:element name="force-size-icon" type="forceSize"/>
                <xs:element name="is-hq" type="yesNo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deployment-duration">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="deployed" type="xs:time"/>
                <!--00:00-->
                <xs:element name="dug-in" type="xs:time"/>
                <!--00:00-->
                <xs:element name="entrenched" type="xs:time"/>
                <!--00:00:00-->
                <xs:element name="fortified" type="xs:time"/>
                <!--00:00:00-->
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="equipment-list">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="equipment" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="equipment">
        <xs:complexType>
            <xs:attribute name="equipment-object-id" type="xs:short"/>
            <xs:attribute name="name" type="xs:string"/>
            <xs:attribute name="qty" type="xs:short"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="ammo-list">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ammo" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:attribute name="ammo-object-id" type="xs:short" use="required"/>
                        <xs:attribute name="name" type="xs:string" use="required"/>
                        <xs:attribute name="qty" type="xs:int" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Vehicles -->

    <xs:element name="vehicle">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="description" type="xs:string"/>
                <xs:element name="picture" type="xs:string"/>
                <xs:element name="picture-filename" type="xs:string"/>
                <xs:element name="size">
                    <xs:complexType>
                        <xs:attribute name="width" type="xs:float"/>
                        <xs:attribute name="height" type="xs:float"/>
                        <xs:attribute name="length" type="xs:float"/>
                        <xs:attribute name="weight" type="xs:float"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="crew" type="xs:byte"/>
                <xs:element name="reliability" type="percentage"/>
                <xs:element name="armaments" type="xs:string"/>
                <xs:element name="type" type="xs:string"/>
                <xs:element name="fuel-capacity" type="xs:float"/>
                <xs:element ref="speed"/>
                <xs:element name="fuel-consumption" type="speedData"/>
                <xs:element name="ronsonability" type="percentage"/>
                <xs:element name="max-gradient" type="xs:byte"/>
                <xs:element name="max-fording-depth" type="xs:byte"/>
                <xs:element name="max-trench-width" type="xs:byte"/>
                <xs:element name="towing-capacity" type="xs:float"/>
                <xs:element name="personnel-capacity" type="xs:byte"/>
                <xs:element name="bulk-fuel-capacity" type="xs:float"/>
                <xs:element name="payload-capacity" type="xs:float"/>
                <xs:element name="take-cover-mod" type="xs:float"/>
                <xs:element name="has-turret" type="xs:string"/>
                <xs:element name="has-open-top" type="xs:string"/>
                <xs:element name="battle-weight" type="xs:float"/>
                <xs:element ref="armour"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:short" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="speed">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="road" type="speedData"/>
                <xs:element name="cross-country" type="speedData"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="armour">
        <xs:complexType>
            <xs:attribute name="front" type="xs:float"/>
            <xs:attribute name="side" type="xs:float"/>
            <xs:attribute name="rear" type="xs:float"/>
            <xs:attribute name="top" type="xs:float"/>
        </xs:complexType>
    </xs:element>

    <!-- Weapons -->

    <xs:element name="weapon">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="description" type="xs:string"/>
                <xs:element name="picture" type="xs:string"/>
                <xs:element name="picture-filename" type="xs:string"/>
                <xs:element name="size">
                    <xs:complexType>
                        <xs:attribute name="width" type="xs:float"/>
                        <xs:attribute name="height" type="xs:float"/>
                        <xs:attribute name="length" type="xs:float"/>
                        <xs:attribute name="weight" type="xs:float"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="crew" type="xs:byte"/>
                <xs:element name="reliability" type="percentage"/>
                <xs:element name="armaments" type="xs:string"/>
                <xs:element name="type" type="xs:string"/>
                <xs:element name="single-shot" type="xs:string"/>
                <xs:element name="primary-role" type="xs:string"/>
                <xs:element name="calibre" type="xs:float"/>
                <xs:element name="muzzle-velocity" type="xs:short"/>
                <xs:element name="must-deploy-to-fire" type="xs:string"/>
                <xs:element ref="performance-list"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:short"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="performance-list">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="performance" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ammo">
                                <xs:complexType>
                                    <xs:attribute name="object-id" type="xs:short" use="required"/>
                                    <xs:attribute name="name" type="xs:string" use="required"/>
                                    <xs:attribute name="load" type="xs:short" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="min-range" type="xs:byte"/>
                            <xs:element name="rof">
                                <xs:complexType>
                                    <xs:attribute name="slow" type="xs:float"/>
                                    <xs:attribute name="normal" type="xs:float"/>
                                    <xs:attribute name="rapid" type="xs:float"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="burst-radius" type="xs:byte"/>
                            <xs:element name="shell-weight" type="xs:float"/>
                            <xs:element ref="range-table"/>

                        </xs:sequence>
                        <xs:attribute name="fire-type" type="fireType"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="range-table">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="range-item" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="range" type="xs:short" use="required"/>
                        <xs:attribute name="accuracy" type="percentage" use="required"/>
                        <xs:attribute name="armour-penetration" type="xs:float" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- Radios -->

    <xs:element name="radio">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="description" type="xs:string"/>
                <xs:element name="picture" type="xs:string"/>
                <xs:element name="picture-filename" type="xs:string"/>
                <xs:element name="size">
                    <xs:complexType> <!-- weight OK, but the rest?  -->
                        <xs:attribute name="width" type="xs:float"/>
                        <xs:attribute name="height" type="xs:float"/>
                        <xs:attribute name="length" type="xs:float"/>
                        <xs:attribute name="weight" type="xs:float" use="required"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="crew" type="xs:string"/>
                <xs:element name="reliability" type="percentage"/>
                <xs:element name="armaments" type="xs:string"/>
                <!-- not used -->
                <xs:element name="net-type" type="netType"/>
                <xs:element name="freq-type" type="freqType"/>
                <xs:element name="max-range" type="xs:unsignedByte"/>
                <xs:element name="gain" type="xs:float"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:short" use="required"/>
        </xs:complexType>
    </xs:element>

    <!-- Ammo -->

    <xs:element name="ammo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="description" type="xs:string"/>
                <xs:element name="min-order-qty" type="xs:short"/>
                <xs:element name="min-order-weight" type="xs:float"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:short" use="required"/>
        </xs:complexType>
    </xs:element>

    <!-- Formation effects -->

    <xs:element name="formation-effects">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="moving-cohesion-level" type="xs:float"/>
                <xs:element name="frontage-per-man" type="xs:float"/>
                <xs:element name="depth-per-man" type="xs:float"/>
                <xs:element ref="firing-percentages"/>
                <xs:element ref="target-percentages"/>
                <xs:element ref="security"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:short" use="required"/>
            <xs:attribute name="type" type="formationType" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="firing-percentages">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="front" type="percentage"/>
                <xs:element name="left" type="percentage"/>
                <xs:element name="right" type="percentage"/>
                <xs:element name="rear" type="percentage"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="target-percentages">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="front" type="percentage"/>
                <xs:element name="left" type="percentage"/>
                <xs:element name="right" type="percentage"/>
                <xs:element name="rear" type="percentage"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="security">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="front" type="security"/>
                <xs:element name="left" type="security"/>
                <xs:element name="right" type="security"/>
                <xs:element name="rear" type="security"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <!-- *****************  GLOBAL TYPES  ******************** -->


    <xs:simpleType name="percentage">
        <xs:restriction base="xs:float">
            <xs:minInclusive value="0.0"/>
            <xs:maxInclusive value="1.0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="insignia">
        <xs:attribute name="id" type="xs:short" use="required"/>
    </xs:complexType>

    <xs:complexType name="speedData">
        <xs:sequence>
            <xs:element name="max" type="xs:float"/>
            <xs:element name="normal" type="xs:float"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="rgbColor">
        <xs:attribute name="red" type="xs:short"/>
        <xs:attribute name="green" type="xs:short"/>
        <xs:attribute name="blue" type="xs:short"/>
    </xs:complexType>

    <!-- *****************  Enumerations  ******************** -->

    <xs:simpleType name="security">
        <xs:restriction base="xs:string">
            <xs:enumeration value="min"/>
            <xs:enumeration value="normal"/>
            <xs:enumeration value="max"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="formationType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="mob"/>
            <xs:enumeration value="road-column"/>
            <xs:enumeration value="line"/>
            <xs:enumeration value="successive-lines"/>
            <xs:enumeration value="square"/>
            <xs:enumeration value="arrow-head"/>
            <xs:enumeration value="left-echelon"/>
            <xs:enumeration value="right-echelon"/>
            <xs:enumeration value="vee"/>
            <xs:enumeration value="all-round-defence"/>
            <xs:enumeration value="in-situ"/>
            <xs:enumeration value="unspecified"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="fireType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="aper"/>
            <xs:enumeration value="aarm"/>
            <xs:enumeration value="aair"/>
            <xs:enumeration value="bombard"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="freqType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="hf"/>
            <xs:enumeration value="vhf"/>
            <xs:enumeration value="uhf"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="netType"> <!-- only one value?  -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="land"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="symbolColor">
        <xs:restriction base="xs:string">
            <xs:enumeration value="black"/>
            <xs:enumeration value="white"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="yesNo">
        <xs:restriction base="xs:string">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="forceSize">
        <xs:restriction base="xs:string">
            <xs:enumeration value="section"/>
            <xs:enumeration value="platoon"/>
            <xs:enumeration value="company"/>
            <xs:enumeration value="battalion"/>
            <xs:enumeration value="brigade"/>
            <xs:enumeration value="regiment"/>
            <xs:enumeration value="division"/>
            <xs:enumeration value="corps"/>
            <xs:enumeration value="army"/>
            <xs:enumeration value="army-group"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="moveType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="foot"/>
            <xs:enumeration value="wheeled"/>
            <xs:enumeration value="tracked"/>
            <xs:enumeration value="half-track"/>
            <xs:enumeration value="horse"/>
            <xs:enumeration value="bicycle"/>
            <xs:enumeration value="air"/>
            <xs:enumeration value="sea"/>
            <xs:enumeration value="sub"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="combatClass">
        <xs:restriction base="xs:string">
            <xs:enumeration value="line"/>
            <xs:enumeration value="line-support"/>
            <xs:enumeration value="support"/>
            <xs:enumeration value="hq"/>
            <xs:enumeration value="base"/>
            <xs:enumeration value="static"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="targetClass">
        <xs:restriction base="xs:string">
            <xs:enumeration value="soft"/>
            <xs:enumeration value="hard"/>
            <xs:enumeration value="mixed"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="pictureSymbol">
        <xs:restriction base="xs:string">
            <xs:enumeration value="tank"/>
            <xs:enumeration value="assault-gun"/>
            <xs:enumeration value="light-tank"/>
            <xs:enumeration value="armoured-car"/>
            <xs:enumeration value="artillery"/>
            <xs:enumeration value="at-gun"/>
            <xs:enumeration value="heavy-flak"/>
            <xs:enumeration value="light-flak"/>
            <xs:enumeration value="rockets"/>
            <xs:enumeration value="sp-artillery"/>
            <xs:enumeration value="engineer"/>
            <xs:enumeration value="bridging"/>
            <xs:enumeration value="mech-inf"/>
            <xs:enumeration value="motor-inf"/>
            <xs:enumeration value="infantry"/>
            <xs:enumeration value="para"/>
            <xs:enumeration value="hq"/>
            <xs:enumeration value="hmg"/>
            <xs:enumeration value="mortar"/>
            <xs:enumeration value="base"/>
            <xs:enumeration value="ammo"/>
            <xs:enumeration value="fuel"/>
            <xs:enumeration value="bridge"/>
            <xs:enumeration value="heavy-tank"/>
            <xs:enumeration value="inf-gun"/>
            <xs:enumeration value="manpack"/>
            <xs:enumeration value="motorcycle"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="forceType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="infantry"/>
            <xs:enumeration value="armour"/>
            <xs:enumeration value="artillery"/>
            <xs:enumeration value="logistics"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="forceSubtype">
        <xs:restriction base="xs:string">
            <!-- Infantry subtypes -->
            <xs:enumeration value="Infantry"/>
            <xs:enumeration value="Leg Infantry"/>
            <xs:enumeration value="Mot Infantry"/>
            <xs:enumeration value="Mech Infantry"/>
            <xs:enumeration value="Para Infantry"/>
            <xs:enumeration value="Glider Infantry"/>
            <xs:enumeration value="Combat Engineer"/>
            <xs:enumeration value="AT Infantry"/>
            <xs:enumeration value="SMG Infantry"/>
            <xs:enumeration value="MG Infantry"/>
            <xs:enumeration value="Hvy Wpns Infantry"/>
            <xs:enumeration value="Special Forces"/>
            <xs:enumeration value="Mountain Infantry"/>
            <xs:enumeration value="Bicycle Infantry"/>
            <xs:enumeration value="Cavalry"/>
            <xs:enumeration value="Leg Recon"/>
            <xs:enumeration value="Mot Recon"/>
            <xs:enumeration value="Mech Recon"/>
            <xs:enumeration value="Non-Armoured HQ"/>
            <!-- Armor subtypes -->
            <xs:enumeration value="Armour"/>
            <xs:enumeration value="Tank"/>
            <xs:enumeration value="Assault Gun"/>
            <xs:enumeration value="Inf Support AG"/>
            <xs:enumeration value="Tank Destroyer"/>
            <xs:enumeration value="Armoured Car"/>
            <xs:enumeration value="Armoured Recon"/>
            <xs:enumeration value="Flame-Thrower AFV"/>
            <xs:enumeration value="Armoured HQ"/>
            <!-- Artillery -->
            <xs:enumeration value="Artillery"/>
            <xs:enumeration value="Anti-Tank"/>
            <xs:enumeration value="SP AT"/>
            <xs:enumeration value="Mortar"/>
            <xs:enumeration value="SP Mortar"/>
            <xs:enumeration value="Howitzer"/>
            <xs:enumeration value="SP Howitzer"/>
            <xs:enumeration value="Gun"/>
            <xs:enumeration value="SP Gun"/>
            <xs:enumeration value="Inf Gun"/>
            <xs:enumeration value="SP Inf Gun"/>
            <xs:enumeration value="Rocket Launcher"/>
            <xs:enumeration value="SP RL"/>
            <xs:enumeration value="Flak"/>
            <xs:enumeration value="SP Flak"/>
            <xs:enumeration value="Mot Howitzer"/>
            <xs:enumeration value="Mot Mortar"/>
            <xs:enumeration value="Mot Gun"/>
            <xs:enumeration value="Mot Inf Gun"/>
            <xs:enumeration value="Mot RL"/>
            <xs:enumeration value="Mot Flak"/>
            <xs:enumeration value="Mot AT"/>
            <xs:enumeration value="Abn Arty"/>
            <xs:enumeration value="Para Arty"/>
            <!-- Logistics -->
            <xs:enumeration value="Logistics"/>
            <xs:enumeration value="Base"/>
            <xs:enumeration value="Bridge Engineer"/>
            <xs:enumeration value="Const Engineer"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>